.section-description__items {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 999;
    display: grid;
    gap: 100px;
    justify-content: space-evenly;
    grid-template-areas:
        "A  D D  E"
        "B  D D  J"
        "C  D D  K"
}
.section-description {
    width: 100%;
    background: linear-gradient(45deg, rgb(252, 164, 67), rgb(167, 167, 167) 37%);
    font-size: 20px;
    color: white;
    font-family: "RalewayRegular", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item__circle-image{
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.item__circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.description-items__item_1 {
    grid-area: A;
}

.description-items__item_2 {
    grid-area: B;
}

.description-items__item_3 {
    grid-area: C;
}

.description-items__item_4 {
    grid-area: E;
}

.description-items__item_5 {
    grid-area: J;
}

.description-items__item_6 {
    grid-area: K;
}

.description-items__img {
    grid-area: D;
    align-self : center;
    justify-self : center;
}

.description-items__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}