.user__opinion {
    width: 30vw;
}

.section-order {
    background: linear-gradient(45deg, rgb(167, 167, 167) 56%, rgb(216, 135, 255));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-order__timer {
    width: 100%;
    background-color: #F69931FF;
    color: #61428f;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 5%;
}

.section-order__title {
    font-size: 5rem;
}

.section-order__content {
    display: grid;
    gap: 10px;
    width: 70%;
    height: 60vh;
    grid-template-areas:
                "B  C"
                "B  C";
}

.content__img {
    grid-area: B;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 500px;
}

.section-order__order-form {
    grid-area: C;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-order_wid {
    width: 100%;
    margin-bottom: 5%;
}

.order-form__enter-data {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #fafafa;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: .3s box-shadow;
}

.order-form__enter-data:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.price__old {
    text-decoration: line-through red;
    font-size: 14px;
}

@keyframes anime {
    0% {
        color: orange;
    }
    33% {
        color: red;
    }
    66% {
        color: #7b00ff;
    }
    100% {
        color: orange;
    }
}

.new-price_animation {
    animation: anime infinite 2s linear;
}

.price__new {
    margin-left: 4%;
    transition-property: color;
    transition-duration: 3s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

