@font-face {
    font-family: "RalewayRegular";
    src: url("../font/Druk Wide Bold.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "RalewayRegular", sans-serif;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}